@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(33 37 41 / 75%);
}
.navbar {
    .nav-link {
        font-family: 'Poppins', sans-serif;
        font-weight: 800 !important;
    }
}

h3 {
    font-size: large;
    font-weight: bold;
}
a {
    color: rgb(0, 128, 255);
}
